body{
	padding: 0;
	margin: 0;
}

.center{
	margin: 0 auto;
	text-align: center;
}



.text-white{
	color: white;
	margin: 10px 0;
}
p{
	margin: 7px 15px;
	font-family: sans-serif;
}
.span-md{
	display: none;
}

@media only screen and (max-width: 990px){
	.span-md{
		display:unset;
	}

	.span-lg{
		display: none;
	}
}

/*--------------------------------------------Top-------------------------------------------*/

.top{
	width:100%;
	height:610px;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)), url("img/img.jpg");
	background-position: center;
	background-size: cover;
}

/*--------------------------------------------Top nav----------------------------------------*/

.top-nav{
	display: none;
}

.top{
		position: relative;
	}
	.top-text{
		position: absolute;
		top: 100px;
	}

@media  only screen and (max-width: 768px){
	
	
#top-nav-item{
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	color:rgba(0, 0, 0, 0.8);
}


#top-toggle-i{
    font-size: 25px;
    color: royalblue;
    border:none;
}

.top-nav-mt{
	margin-top: 20px;
}
	.top-nav-md{
		display: none;
	}


	.top-nav{
		display:unset;
		position: ;
		opacity: 0.5;
	}
	.brand-center{
		margin: 0 50%;

	}
	.item-md:hover{
		color:black;
		font-weight: 650;
	}

	.item-ig{

		width: 50px;
	}

}
/*------------------------------------Top-nav-md--------------------------------*/

.top-links{
padding-top: 40px;
}

nav .item{
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	text-decoration: none;
	opacity: 0.8;
	margin-right: 30px;
}

	.item:hover {
     text-decoration: none;
     color:white;
     font-weight: 800;
     opacity: 1;
     font-family: Gilroy-Medium;
	 }




/*----------------------------Top-Discription----------------------------*/


.top-i{
	font-size: 130px;
	color: white;
}
.top-h1{
	font-size: 70px;
}

.top-text{
    padding-top: 110px;
}

/*---------------------------------Feature-------------------------*/


.fas{
	font-size: 100px;
	font-weight: 700;
}
.feature-container{
	
	padding: 50px 0;
}
.row{
	width: 100%;
	padding: 3% 2em;
	margin: 0;
}

/*-----------------------------discription(why chose us?)--------------*/


.discription-container{
	background-color: rgba(204, 205, 200, 0.8);
}

.community-i{
	max-width: 100%;
	margin-top: 9%;
}


.discription{
	padding: 2em;

}

.text-s{
	font-family:  Gilroy-Medium;
}

/*-------------------------mentors-discription----------------*/


.mentors-container{
	background-color:rgba(244, 244, 244, 0.7);
	padding-top: 40px;
    padding-bottom: 5%;
}

.b{
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.i{
	width: 100%;
	border-radius: 10%;
}
.btn{
	width: 100%;
}

/*------------------------courses-----------------------*/


.courses-container{
	padding: 2em;
	max-width: 100%;
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.8)) ,url("https://images.unsplash.com/photo-1541878578057-63a626f9ed7b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=775&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.b-t{
	
	margin-top: 100%;
	border-top: 1.6px solid rgba(255, 255, 255, 0.4);
}

.i1, .i2, .i3, .i4,.i5,.i6{
    margin: 10px;
    max-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}


.i1{
	background-image: url("https://images.unsplash.com/photo-1495564103921-67412af57da3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80");
}
.i2{
	background-image: url("https://images.unsplash.com/photo-1494621622354-777dad9c18e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
}

.i3{
	background-image: url("https://images.unsplash.com/photo-1519315868-60d544c31ece?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
}
.i4{
	background-image: url("https://images.unsplash.com/photo-1478358161113-b0e11994a36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
}
.i5{
	background-image: url("https://images.unsplash.com/photo-1544554651-67f1fc4c0a00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
}

.i6{
	background-image: url("https://images.unsplash.com/photo-1513628253939-010e64ac66cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
}

/*-------------------------------foot--------------------------*/
.foot{
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	border-spacing: center;
	height: 30px;
	padding: 0.1em;
	
}


.foot-i{
	font-size: 22px;
	color: rgba(0, 0, 0, 0.8);
}
